<!-- menu -->
<nav class="navbar navbar-expand-lg navbar-dark p-0" style="background: linear-gradient(50deg, #000000bf, #777676bf);">
    <div class="nav-item d-flex align-items-center">
        <img src="{{foto}}" alt="imagem do usuario" width="70px" height="70px" class="rounded-circle p-2">
        <p class="m-0 font-weight-bold text-white fs-16">Olá {{nome}}</p>
        <a [routerLink]="['/user-edit',id]">
            <i class="fa fa-pencil-square-o text-white fs-16 p-2" aria-hidden="true"></i>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

        </div>
        <a (click)=sair() class="nav-item nav-link text-white fs-16 ml-auto" href="">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>
</nav>
<!-- /menu-->
