<!-- menu -->
<nav class="navbar navbar-expand-lg navbar-dark p-0" style="background: linear-gradient(50deg, #000000bf, #777676bf);">
    <div class="nav-item d-flex align-items-center">
        <img src="https://scontent-gru1-1.xx.fbcdn.net/v/t1.6435-9/171712125_5350825388324415_7016976454179457428_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=c6GuLfYjXT0AX-XFYMc&_nc_ht=scontent-gru1-1.xx&oh=19ea5ac6ccee6fe4580e0039e18b934d&oe=60D2CE6D" alt="imagem do usuario" width="70px" height="70px" class="rounded-circle p-2">
        <p class="m-0 font-weight-bold text-white fs-16">Nome do Usuario</p>
        <a href="">
            <i class="fa fa-pencil-square-o text-white fs-16 p-2" aria-hidden="true"></i>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            
        </div>
        <a class="nav-item nav-link text-white fs-16 ml-auto" href="">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>
</nav>
<!-- /menu-->
